@using YogaCore.Models
@{
    var user = ViewData["User"] as Person;
}
<div id="section-personal" class="personal section">
    <div class="row">
        <div class="col-md-10">
            <h1>@user.FirstName @user.LastName</h1>
            <div id="currently-at-container" class="job">
                <div class="job has-tooltip">
                    Software Engineer at Mitrais
                </div>
            </div>
            <div class="meta">
                <span class="icon-location"></span>
                Denpasar, Indonesia
                <span class="icon-site"></span>
                <a href="http://putuyoga.com"> http://putuyoga.com </a>
                <span class="icon-twitter"></span>
                <a href="https://twitter.com/putuyoga" rel="me" class="url">putuyoga</a>
                <span class="icon-github"></span>
                <a href="https://github.com/putuyoga" rel="me" class="url">putuyoga</a>
            </div>

        </div>

        <div class="col-md-2 avatar-wrapper">
            <div class="avatar">
                <img title="change picture" src="@user.ImageUrl">
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="section-header section-opener">
        <h2>Skillset</h2>
    </div>

    <div class="tag-section">
        <div class="tag-section-title">Any skill you have</div>
        <div>
            @foreach (var skill in user.Skills)
            {
                <span class="post-tag">@skill.Name</span>
            }
        </div>
    </div>
</div>



<div class="section cv-section-type multi-section" id="cv-Experience">
    <div class="section-header section-opener">
        <h2 class="h4">
            Experience
        </h2>
    </div>

    <div class="repeater cv-section highlight first expanded last collapsible" id="Experience-584419">
        <div class="display">
            @foreach (var exp in user.Experiences) {
                <div class="preview">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="h4">
                                @exp.JobPosition
                                <span class="location">
                                    @exp.CompanyName
                                </span>
                            </h3>
                        </div>
                        <div class="col-md-4">
                            <p class="time-frame">
                                @exp.Since → @exp.Until
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<div class="section cv-section-type multi-section" id="cv-Education">
    <div class="section-header section-opener">
        <h2 class="h4">
            Education
        </h2>
    </div>

    <div class="repeater cv-section highlight first expanded last collapsible" id="Education-584418">
        <div class="display">
            @foreach (var school in user.Educations)
            {
            <div class="preview">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="h4">
                            @school.Major                  
                            <span class="location">
                                @school.SchoolName
                            </span>
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <p class="time-frame">
                            @school.Since → @school.Until
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

</div>
